.about {
  position: relative;
  background: #f6f6f6;

  @include breakpoint('large') {
    min-height: 100vh;
  }

  &__date {
    display: none;
    transform: rotateZ(-90deg);
    transform-origin: bottom left;
    position: absolute;
    top: 270px;
    right: -80px;
    font-family: var(--main-font);
    font-size: 18px;
    color: #000;
    text-transform: uppercase;

    @include breakpoint('large') {
      display: block;
    }

    span {
      &:before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 1px;
        margin-right: 7px;
        position: relative;
        top: -3px;
        background: #000;

        @include breakpoint('large') {
          width: 30px;
          height: 2px;
          position: relative;
          top: -6px;
        }
      }
    }
  }

  &__content {
    width: 100%;
    height: auto;
    padding: 100px 25px 60px;
    text-align: center;

    @include breakpoint('large') {
      text-align: left;
      padding: 135px 135px 60px;
    }

    &__title {
      h2 {
        font-family: var(--main-font-bold);
        font-size: 50px;
        line-height: 42px;
        text-transform: uppercase;

        @include breakpoint('large') {
          font-size: 100px;
          line-height: 75px;
        }

        span {
          display: block;

          &:before {
            content: '';
            display: none;
            width: 50px;
            height: 10px;
            margin-right: 16px;
            position: relative;
            top: -10px;
            background: #000;

            @include breakpoint('large') {
              display: inline-block;
              width: 80px;
              height: 16px;
              margin-right: 40px;
              top: -22px;
            }
          }
        }
      }
    }

    &__data {
      position: relative;
      padding: 50px 0;

      @include breakpoint('large') {
        position: relative;
        max-width: 40%;
        left: 33.33%;
      }

      &:before {
        position: absolute;
        bottom: 15px;
        left: calc(50% - 18px);
        transform: rotateZ(90deg);
        transform-origin: bottom left;
        font-size: 35px;

        @include breakpoint('large') {
          left: calc(50% - 70px);
          bottom: -40px;
        }
      }

      h4 {
        padding-bottom: 40px;
        font-family: var(--global-text);
        font-size: 16px;
        line-height: 23px;
        font-weight: 700;

        span {
          position: relative;
          top: 20px;
          display: block;
          text-align: center;

          @include breakpoint('large') {
            text-align: left;
          }
        }
      }

      p {
        font-family: var(--global-text);
        font-size: 13px;
        line-height: 21px;
      }
    }
  }
}
