.team {
  background: #f6f6f6;

  &__title {
    padding: 35px 0;
    font-family: var(--main-font-bold);
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;

    @include breakpoint('large') {
      font-size: 100px;
      line-height: 75px;
      padding: 35px 0 40px;
    }

    span {
      display: block;

      @include breakpoint('large') {
        display: inline-block;
      }
    }
  }

  &__list {
    @include breakpoint('medium') {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint('large') {
      grid-template-columns: repeat(3, 1fr);
    }

    &__box {
      &__image {
        @include breakpoint('large') {
          min-height: 200px;
        }

        img {
          width: 100%;
        }
      }

      &__data {
        padding: 40px 40px 70px;
        text-align: center;

        &__title {
          font-family: var(--main-font);
          font-size: 16px;
          color: #000;
        }

        &__rol {
          padding-top: 10px;
          font-family: var(--global-text);
          font-size: 16px;
          color: #000;
        }
      }
    }
  }
}
