.artist {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint('large') {
    padding: 100px 0 0;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0005;
  }

  &__date {
    display: none;
    transform: rotateZ(-90deg);
    transform-origin: bottom left;
    height: 18px;
    width: 250px;
    position: absolute;
    top: inherit;
    right: -182px;
    bottom: 70px;
    font-family: var(--main-font);
    font-size: 18px;
    color: var(--color-yellow);
    text-transform: uppercase;

    @include breakpoint('large') {
      display: block;
    }

    span {
      &:before {
        content: '';
        display: inline-block;
        width: 30px;
        height: 2px;
        margin-right: 7px;
        position: relative;
        top: -6px;
        background: var(--color-yellow);
      }
    }
  }

  &__content {
    position: relative;

    @include breakpoint('large') {
      padding: 30px 0 0;
    }

    &__columns {
      display: flex;
    }

    &__issue {
      padding: 0 25px 35px;
      display: block;
      font-family: var(--main-font);
      font-size: 16px;
      text-transform: uppercase;
      color: var(--color-yellow);

      @include breakpoint('large') {
        padding-left: 135px;
        font-size: 18px;
      }

      small {
        display: inline;

        &:before {
          content: '';
          display: inline-block;
          width: 30px;
          height: 2px;
          margin-right: 7px;
          position: relative;
          top: -4px;
          background: var(--color-yellow);
        }
      }
    }

    &__title {
      font-family: var(--global-text);
      font-weight: 700;
      font-size: 70px;
      line-height: 58px;
      color: var(--color-yellow);
      letter-spacing: -3px;

      @include breakpoint('large') {
        position: absolute;
        top: 180px;
        left: 0;
        font-size: 80px;
        line-height: 60px;
      }

      span {
        display: block;

        &:before {
          content: '';
          display: inline-block;
          width: 40px;
          height: 10px;
          margin-right: 16px;
          position: relative;
          top: -16px;
          background: var(--color-yellow);

          @include breakpoint('large') {
            width: 50px;
            height: 10px;
            margin-right: 20px;
            top: -22px;
          }
        }
      }
    }

    &__subtitle {
      padding: 20px 0 0 70px;
      font-family: var(--global-text);
      font-weight: 700;
      font-size: 25px;
      line-height: 27px;
      color: var(--color-yellow);

      @include breakpoint('large') {
        display: none;
      }

      span {
        display: block;

        &:before {
          content: '';
          display: inline-block;
          width: 25px;
          height: 3px;
          margin-right: 12px;
          position: relative;
          top: -7px;
          background: var(--color-yellow);

          @include breakpoint('large') {
            width: 80px;
            height: 16px;
            margin-right: 40px;
            top: -22px;
          }
        }
      }
    }

    &__featured {
      position: relative;
      left: 70px;
      padding-top: 100px;
      font-family: var(--main-font-bold);
      font-size: 80px;
      -webkit-text-stroke: 1px var(--color-yellow);
      color: rgba(0, 0, 0, 0);

      @include breakpoint('large') {
        font-size: 170px;
        padding-left: 25vw;
      }

      &:before {
        position: absolute;
        top: 30px;
        display: block;
        content: 'Featured';
        font-family: var(--main-font-bold);
        font-size: 80px;
        -webkit-text-stroke: 1px var(--color-yellow);
        color: rgba(0, 0, 0, 0);

        @include breakpoint('large') {
          font-size: 170px;
          top: -38px;
        }
      }

      &:after {
        position: absolute;
        top: 70px;
        display: block;
        content: 'Featured';
        font-family: var(--main-font-bold);
        font-size: 80px;
        -webkit-text-stroke: 1px var(--color-yellow);
        color: rgba(0, 0, 0, 0);

        @include breakpoint('large') {
          font-size: 170px;
          top: 31px;
        }
      }
    }

    &__artist {
      position: relative;
      top: -10px;
      left: -25px;
      font-family: var(--main-font-bold);
      font-size: 80px;
      -webkit-text-stroke: 1px var(--color-yellow);
      color: rgba(0, 0, 0, 0);

      @include breakpoint('large') {
        font-size: 170px;
      }
    }

    &__left {
      @include breakpoint('large') {
        flex: 1;
        width: 55%;
      }
    }

    &__right {
      display: none;

      @include breakpoint('large') {
        display: block;
        flex: 1;
        width: 45%;
      }
    }

    &__extra {
      padding: 60px 25px 0;

      @include breakpoint('large') {
        display: flex;
        padding: 20px 145px 0;
      }

      &__check {
        @include breakpoint('large') {
          flex: 1;
          width: 55%;
        }

        a {
          font-family: var(--main-font);
          font-size: 16px;
          color: var(--color-yellow);
          text-transform: uppercase;
          letter-spacing: 1px;

          strong {
            font-family: var(--main-font-bold);
          }

          span {
            padding-top: 10px;
            display: block;
            font-size: 26px;
          }
        }
      }

      &__photography {
        display: none;
        font-family: var(--global-text);
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        color: var(--color-yellow);

        @include breakpoint('large') {
          display: block;
          flex: 1;
        }

        span {
          display: block;

          &:before {
            content: '';
            display: inline-block;
            width: 30px;
            height: 4px;
            margin-right: 15px;
            position: relative;
            top: -12px;
            background: var(--color-yellow);
          }
        }
      }
    }
  }
}
